@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
#texto {
    font-family: 'Playfair Display', serif;
}

#info{
    background-color: gray;
}
header .navbar {
        background-color: transparent !important;
        color: black!important;
}
ul{
   list-style: none!important;
   
}
footer{
    text-align: center;
    color: rgb(0, 11, 20);
}
.nav-bar{
    background-image: url(https://media.staticontent.com/media/pictures/a5f70bd2-a00c-4c37-8e1a-64bae1549844);
    background-size: cover;
    height: 100vh;
}
.card{
    display: grid;
    grid-auto-rows: minmax(60px, auto);
}
#banner{
    background-position: center;
    background-size: cover;
    
}
#tandil{
    padding-top: 100px !important;
}