@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
#texto {
    font-family: 'Playfair Display', serif;
}

#info{
    background-color: gray;
}
header .navbar {
        background-color: transparent !important;
        color: black!important;
}
ul{
   list-style: none!important;
   
}
footer{
    text-align: center;
    color: rgb(0, 11, 20);
}
.nav-bar{
    background-image:Vi;
    background-size: cover;
    height: 100vh;
}
.card{
    display: grid;
    grid-auto-rows: minmax(60px, auto);
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 10px 10px 58px 23px rgba(0,0,0,0.26);
-webkit-box-shadow: 10px 10px 58px 23px rgba(0,0,0,0.26);
-moz-box-shadow: 10px 10px 58px 23px rgba(0,0,0,0.26);
}
#banner{
    background-position: center;
    background-size: cover;
    
}
#tandil{
    margin-top: 290px !important;
    font-size: 180px !important;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 4px 12px rgba(0,0,0,0.62);
        
}
#logo{
    font-family: 'Dancing Script', cursive;
    margin-top: -35px !important;
}
#nav-tandil{
    padding-left:  100px !important;
    font-family: 'Playfair Display', serif;
    text-shadow: 0px -1px 2px rgba(0,0,0,0.63);
    margin-top: -25px !important;
}
#nav-tandil2{
    font-family: 'Playfair Display', serif;
    text-shadow: 0px -1px 2px rgba(0,0,0,0.63);
    margin-top: -25px !important;
}
#video{
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: -1 !important;
}
main{
    background-color: aliceblue;
}
#foto-uno{
    object-fit: cover !important;
}
#cartas{
    max-width: 500px;
    height: 200px!important;
}
#cartas:hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#grande{
    width: 1900px;
    height: 1300px;
}
main{ 
    background-image: url(https://media.staticontent.com/media/pictures/a5f70bd2-a00c-4c37-8e1a-64bae1549844);
}
#primerTab{
    background-color: aliceblue;
}
@media (width <= 950px) {
 #tandil{
    font-size: 160px !important;
    margin-top: 0 !important;
 }


}

@media (width <= 400px) {
    #tandil{
       font-size: 80px !important;
       margin-top: 150px !important;
    }
    
   }
   @media (width <= 440px){
    #nav-tandil2{
    margin-left: 0x !important ;
    font-size: 20px!important;

    }
    #nav-tandil{
        padding-left: 0 !important;
        font-size: 20px!important;
    }

   }

   @media (width <= 300px){
    #nav-tandil2{
    margin-left: 1px !important ;
    font-size: 15px!important;

    }
    #nav-tandil{
        padding-left: 1px !important;
        padding-right: -25px;
        font-size: 15px!important;
    }

   }